#funny-404-picture{
    width: 20vw;
    border-radius: 50vw;
    margin-bottom: 5vw;
}
#page-not-found-header{
    font-size: 4vw;
    margin-bottom: 2vw;
}
.page-not-found-paragraph{
    font-size: 2vw;
}
#pagenotfound-header-div{
    margin: 5vw;
}